SECRET_KEY=replace-with-your-django-secret
DEBUG=True

DATABASE_NAME=myecomdb
DATABASE_USER=root
DATABASE_PASSWORD=replace-with-your-mysql-password
DATABASE_HOST=localhost
DATABASE_PORT=3306

EMAIL_HOST_USER=yourgmail@gmail.com
EMAIL_HOST_PASSWORD=replace-with-your-gmail-app-password

RAPIDAPI_KEY=replace-with-your-rapidapi-key