SECRET_KEY=PUT_YOUR_DJANGO_SECRET_HERE
DEBUG=True

DATABASE_NAME=myecomdb
DATABASE_USER=root
DATABASE_PASSWORD=PUT_YOUR_MYSQL_PASSWORD_HERE
DATABASE_HOST=localhost
DATABASE_PORT=3306

EMAIL_HOST_USER=yourgmail@gmail.com
EMAIL_HOST_PASSWORD=PUT_YOUR_GMAIL_APP_PASSWORD_HERE

RAPIDAPI_KEY=PUT_YOUR_RAPIDAPI_KEY_HERE