{% extends "base.html" %}
{% block content %}

<div class="auth-page">
  <div class="auth-card">

    <div class="auth-intro">
      <h2>Verify OTP 🔐</h2>
      <p>Enter the OTP sent to {{ email }}</p>
    </div>

    {% if error %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
    {% endif %}

    <form method="post" class="auth-form" onsubmit="showPageLoader(); id="verifyOtpForm">
      {% csrf_token %}

      <div class="form-group">
        <label>6-Digit OTP</label>

        <input
          type="text"
          name="otp"
          class="form-control"
          maxlength="6"
          inputmode="numeric"
          pattern="[0-9]{6}"
          required
          autocomplete="one-time-code"
          id="otpInput"
        >
      </div>

      <button
        type="submit"
        class="auth-btn"
        id="verifyOtpButton"
      >
        <span id="verifyOtpText">Verify OTP</span>
        <span id="verifyOtpLoader" style="display: none;">
          Verifying OTP...
        </span>
      </button>

    </form>

  </div>
</div>

<script>
document.getElementById("verifyOtpForm").addEventListener("submit", function () {

    const button = document.getElementById("verifyOtpButton");
    const normalText = document.getElementById("verifyOtpText");
    const loadingText = document.getElementById("verifyOtpLoader");

    // Prevent duplicate verification clicks.
    button.disabled = true;

    // Show verification loading state.
    normalText.style.display = "none";
    loadingText.style.display = "inline";

});
</script>

{% endblock %}