{% extends "base.html" %}
{% block content %}

<div class="auth-page">
  <div class="auth-card">

    <div class="auth-intro">
      <h2>Welcome Back 👋</h2>
      <p>Login using your username</p>
    </div>

    {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="post" onsubmit="showPageLoader();" class="auth-form" action="{% url 'login' %}">
      {% csrf_token %}

      <div class="form-group">
  <label>Username</label>
  <div class="glass-input">
    <input 
      type="text"
      name="username"
      class="form-control glass-field"
      autocomplete="username"
      autocapitalize="off"
      spellcheck="false"
      required>
  </div>
</div>

<div class="form-group">
  <label>Password</label>
  <div class="glass-input password-box">
    <input 
      type="password"
      name="password"
      class="form-control glass-field"
      autocomplete="current-password"
      required>
    <span class="toggle-password">👁</span>
  </div>
</div>

       <div class="text-right mb-3">
  <a href="{% url 'forgot_password' %}" class="text-muted">
    Forgot password?
  </a>
</div>


      <button type="submit" class="auth-btn">
        Login
      </button>
    </form>

    <div class="auth-footer">
      Don’t have an account?
      <a href="{% url 'signup' %}">Sign up</a>
    </div>

  </div>
</div>
<script>
document.querySelectorAll(".toggle-password").forEach(toggle => {
  toggle.addEventListener("click", function () {
    const input = this.previousElementSibling;
    input.type = input.type === "password" ? "text" : "password";
  });
});
</script>

{% endblock %}
