{% extends "base.html" %}
{% block content %}

<div class="auth-page">
  <div class="auth-card">

    <div class="auth-intro">
      <h2>Create New Password 🔑</h2>
      <p>Enter your new password.</p>
    </div>

    {% if error %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
    {% endif %}

    <form method="post" onsubmit="showPageLoader(); class="auth-form" id="resetPasswordForm">
  {% csrf_token %}

  <div class="form-group">
    <label>New Password</label>

    <input
      type="password"
      name="password"
      class="form-control"
      required
      autocomplete="new-password"
    >
  </div>

  <div class="form-group">
    <label>Confirm New Password</label>

    <input
      type="password"
      name="confirm_password"
      class="form-control"
      required
      autocomplete="new-password"
    >
  </div>

  <button
    type="submit"
    class="auth-btn"
    id="resetPasswordButton"
  >
    <span id="resetPasswordText">Reset Password</span>
    <span id="resetPasswordLoader" style="display: none;">
      Resetting Password...
    </span>
  </button>

</form>
<script>
document.getElementById("resetPasswordForm").addEventListener("submit", function () {

    const button = document.getElementById("resetPasswordButton");
    const normalText = document.getElementById("resetPasswordText");
    const loadingText = document.getElementById("resetPasswordLoader");

    // Prevent duplicate password reset submissions.
    button.disabled = true;

    normalText.style.display = "none";
    loadingText.style.display = "inline";

});
</script>
  </div>
</div>

{% endblock %}